.error {
    color:red;
}

.acierto {
    color:green;
}


.block {
    display: inline-block;
    width: 20%;
}

.verboinsertar {
    width: 60px;
}

img {
    display: inline;
}

.pregunta {
    display: inline;
}